# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Visual Regression Failures
.vitest-attachments/
**/__screenshots__/**/*-[0-9].png

# Localization
# Localization
src/generated/

# Coverage
coverage

# Bundle Analysis
stats.html
.history-temp
# Playwright
test-results/
playwright-report/
test-results.json
bundle-history.jsonl


*storybook.log
storybook-static
